

<style type="text/css">
body {
	font: 100%/1.4 Verdana, Arial, Times, sans-serif;
	background-color: #fff;
	margin: 10px;
	padding: 10px;
	color: #000;
}

/* here's the layout*/

#containing { /* the main parent container div*/
  position: relative;
  width: 100%;
  margin: 0;
}

#mainheader
{
  position:relative;
  width: 75%;
  height: 80px;
  background-color: blue;
  color: #fff;
  border:4px solid green;
  padding: 10px;
}

#content
{
  position:absolute;
  width: 90%;
   border:4px solid #909;
  background: #890;
  padding: 10px;
}

/*Links */
a {
  color: black;
  font-size: 18px;
  padding: 0;
}
/* here's pseudoclass-hover in action */
/*-- The <code>:hover</code> pseudo-class will apply to 
  elements in their hover state (<abbr title="for example">eg.</abbr> when moving the mouse over the link).*/

a:hover
{
  color:#cccccc;
}



</style>